<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n
        </Property>
        <Property name="LOG_FILE">logs/sistema-escolar.log</Property>
    </Properties>

    <Appenders>

        <!-- Consola -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <!-- Archivo -->
        <File name="FileLogger" fileName="${LOG_FILE}">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </File>

    </Appenders>

    <Loggers>

        <!-- Logs de tu aplicación -->
        <Logger name="com.escuela" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <!-- Logs de Spring -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>

    </Loggers>
</Configuration>
